.alex{
    border:1px solid black;
}

#section{
    border: 1px solid red;
}

.titulo{
    text-align: center;
}

.😁{
    color: darkblue;
}

.😂{
    border: 1px solid black;
}

h2[class]{
    font-size: 5px;
}

[href]{
    text-decoration: none;
}

[href="https://alexcgdesign.com/inicio"]{
    color: red;
}

[href^="hsttps"]{
    color: green;
}

[href$=".org"]{
    background: purple;
    color: white; 
}

[href*="alexcgdesign"]{
    background: purple;
    color: white; 
}