*{
    text-decoration: underline;
}

.alex{
    border:1px solid black;
}

#section{
    border: 1px solid red;
}

.titulo{
    text-align: center;
}

.😁{
    color: darkblue;
}

.😂{
    border: 1px solid black;
}